.history {
    color: var(--color-text);      

    &__header {
        @include header;
    }

    &__list {
        @include container;
        @include centerBlock;
    }
    
    &__item {
        background-color: var(--color-gray-2);

        &:nth-child(2n) {
            background-color: var(--color-primary-light);
        }
    }

    &__item-upper,
    &__item-lower {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 1rem;
    }

    &__item-title,
    &__item-money {
        font-size: 2.5rem;
        font-weight: bold;
    }

    &__item-date,
    &__item-category {
        font-size: 1.6rem;
        font-weight: 300;
    }
}