.logged {


    &__header{
        @include header;
    }

    &__container {
        @include container;
        @include centerBlock;
    }

    &__accounts {
        text-align: center;
        font-size: 2.5rem;
        background-color: var(--color-gray-5);
        color: var(--color-white);
        margin-bottom: 5rem;
        padding: 2rem;
        @include centerBlock;
    }

    // tutaj chcę zrobić losowo wyświetlające się kolory backgroundu z tablicy kolorów
    // ale póki co czytam i próbuję jak to zrobić
    &__account {
        font-size: 2.2rem;
        height: 6.5rem;
        color: var(--color-text);
        background-color: var(--color-primary-light);
        padding: 0 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--color-gray-1);
        transition: background-color .3s;

        &:hover {
            background-color: var(--color-white);
            cursor: pointer;
        }
    }


    &__account > :last-child {
        font-size: 2.2rem;
    }

    &__button {
        margin-top: 5rem;
        display: block;
        width: 100%;
        font-size: 5rem;
        background-color: var(--color-white-opa);
        border: none;
        transition: background-color .3s;

        &:hover,
        &:active {
            background-color: var(--color-white);
            cursor: pointer;
        }
    }

    &__container_add {
        @include container;
        @include centerBlock;
        max-width: 500px;
    }

    &__button_add {
        margin-top: 5rem;
        display: block;
        width: 100%;
        font-size: 5rem;
        background-color: var(--color-primary-light);
        border: none;
        transition: background-color .3s;

        &:hover,
        &:active {
            background-color: var(--color-white);
            cursor: pointer;
        }
    }

    &__add_input_name {
        font-size: 1.8rem;
        width: 100%;
        border: none;
        margin: 20px 0;
        padding: 14px 18px;
        border-radius: 3px;
    }

    &__add_select_type {
        font-size: 1.8rem;
        width: 100%;
        border: none;
        margin: 20px 0;
        padding: 14px 18px;
        border-radius: 3px;
    }

    &__add_input_balance {
        font-size: 1.8rem;
        width: 100%;
        border: none;
        margin: 20px 0;
        padding: 14px 18px;
        border-radius: 3px;
    }

}
