@mixin centerBlock {
    margin-left: auto;
    margin-right: auto;
}

// default dla nagłówka
@mixin header{
    font-size: 3rem;
    display: flex;
    align-items: center;
    padding: 0 0 0 15%;
    height: 9rem;
    color: var(--color-text);      
    background-color: var(--color-white-opa);
}

@mixin container {
    background-color: var(--color-gray-4);
    width: 90%;
    padding: 5rem;
}

@mixin chooseBox {
    font-size: 1.8rem;
        width: 100%;
        border: none;
        margin: 1rem 0;
        padding: 14px 18px;
        border-radius: 3px;
        height: 6.5rem;
        box-sizing: border-box;
}