:root {
    --color-white: #fff;
    --color-white-opa: rgb(255, 255, 255, 0.88);
    --color-black: #221F1F;

    --color-primary: #F1DF4A;
    --color-primary-light: rgb(241, 223, 74, 0.88);
    --color-secondary: #73471C;

    --color-error: rgb(250, 70, 25);

    --color-text: #6A6262;
    --color-gray-1: rgb(167, 153, 153, 0.76);
    --color-gray-2: rgb(206, 199, 199, 0.88);
    --color-gray-3: rgb(167, 153, 153, 0.88);

    --padding-big: 3rem;
    --padding: 1.5rem;
    --padding-small: 1rem;

    --margin: 3rem;
    --margin-medium: 1.5rem;
    --margin-small: 1rem;

    --box-shadow-color: rgba(0, 0, 0, 0.6);
    --box-shadow--small: 0 1px 2px rgba(0, 0, 0, 0.1);
}

// Wartości dla media queries:
// 75em;        1200/16
// 70em;        1120/16
// 68.75em;     1100/16
// 56.25em;     900/16
// 37.5em;      600/16
// 31.25em;     500/16